/* 
 * Class content is used for the
 * positioning and size of body
 * level elements. Such categories
 * include header, footer and the 
 * main content area
 */

/* Global Styles */
html {

}

body {

}

a {
	text-decoration: none;
}

.content {
	width: 60em;
	margin: 0 auto;
	overflow: auto;
}

/* Header Styles */
header.topheader hgroup{
	margin-top: 2.5em;
}


/* ## Nav Bar ## */

nav {
	list-style: none;
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2.5em;
	z-index: 10000;
	overflow: visible;
	background: #333333;
}

nav a,
nav a:visited{
	color: #ffffff;
}

nav a:hover,
nav a:active {
 	color: #00ff00;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
}

/* Footer Styles */

footer {

}

/* Content Styles - General */

/* Content Styles - Page */

/* Content Styles - Post */

/* Content Styles - Recent */

.recent article {
	width: 60em;
	height: 45em;
	margin: 1em 0;
	padding: 0;
	background: #eee;
}

.recent article h1,
.recent article h2 {
	font-size: 1.313em;
	margin: 0;
	padding: 0;
}

.recent article h3 {
	font-size: 1em;
	margin: 0em;
	padding: 0;
}

.recent article h4,
.recent article h5,
.recent article h6 {
	font-size: 1em;
	margin: 0em;
	padding: 0;
}

.recent .left {
	float: left;
	width: 25.75em;
	margin-right: 0.5em;
}

.recent article a,
.recent article a:visited,
.recent article a:hover,
.recent article a:active {
	color: #000;
}

.recent article header {
	width: 25.75em;
	margin: 0;
	padding: 2em 0;
}

.recent article header h1,
.recent article header h2 {
	background: #ddd;
	padding: 0.5em 1em;
}

.recent article header time,
.recent article header span {
	font-size: 0.75em;
	margin: 0;
	padding: 0 1em;
	
}

.recent article header span {
	float: right;
}

.recent article aside {
	width: 25.75em;
	height: 19.6875em;
	margin: 0;
	padding: 0;
}

.recent article aside img {
	width: 21.75em;
	height: 15.6875em;
	border-style: solid;
	border-color: #fff;
	border-width: 0.5em;
	margin: 0.5em;
	padding: 0;
}

.recent article .article-content {
	float: left;
	width: 32.75em;
	height: 43;
	padding: 0;
	margin: 0 0.5em;
	overflow: hidden;
}

.recent article .article-content p:first-child {
	margin-top: 0;
}

.recent article footer {
	float: right;
	width: 32.75em;
	padding: 0;
	margin: 0 0.5em;
}

.recent article footer a {
	float: left;
}

.recent article footer span {
	float: right;
	
}












