---
layout: default
title : Blog
header : Recent Posts
group: navigation
---
{% include JB/setup %}

<div class="content blog">
	{% for post in site.posts limit:3 %}
		<article id="blogarticle_{{ forloop.index}}">
			<header>
				<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
			</header>
			<section>
				{% if post.content.size  > 3000 %}
					{{ post.content | truncate:3000 }}
					<br />...<br />
					<a href="{{ BASE_PATH }}{{post.url }}">Read More</a>
				{% else %}
					{{ post.content }}
				{% endif %}
			</section>
			<footer>
				<em>Posted on {{ post.date | date_to_string }}</em></br>
				<a href="{{ production_url }}{{ BASE_PATH }}{{ post.url }}#disqus_thread">{{post.title}}</a>
			</footer>	    	
		</article>
	{% endfor %}
	<a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Older Posts (Archive)</a>
</div>

<script type="text/javascript">
	 /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = '{{ site.JB.comments.disqus.short_name }}'; // required: replace example with your forum shortname

	 /* * * DON'T EDIT BELOW THIS LINE * * */
	 (function () {
        	var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>

			
