---
layout: default
title : Blog
header : Recent Posts
group: navigation
---
{% include JB/setup %}
<div class="header content recent">
	<h2> {% if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h2>
</div>

<div class="content recent">
	<div class="articles">
	{% for post in site.posts limit:3 %}
		<article id="blogarticle_{{ forloop.index}}">
			<div class="left">
				<header>
					<div>
						<time>{{ post.date | date_to_string }}</time>
						<span>{{ post.category | upcase }}</span>
						<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
						<h3>{{ site.author.name }}</h3>
					</div>
				</header>
			
				{% if post.featured_image %}
				<aside>					
					<figure><img src="{{ BASE_PATH }}{{ post.featured_image }}" alt="{{ post.title }}" /></figure>					
				</aside>
				{% endif %}	
			</div>
			
			<div class="article-content">
				<section>
					{% if post.content.size  > 1000 %}
						{{ post.content | truncate:1000 }}
						<br /><br />
					{% else %}
						{{ post.content }}
					{% endif %}
				</section>				
			</div>
			
			<footer>
					<a href="{{ site.production_url }}{{ post.url }}#disqus_thread">{{post.title}}</a>
					<span><a href="{{ BASE_PATH }}{{post.url }}">Read More</a></span>
			</footer>
						    	
		</article>
	{% endfor %}
	</div>
	<aside>
		<a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Older Posts (Archive)</a>
	</aside>
</div>

<script type="text/javascript">
	 /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = '{{ site.JB.comments.disqus.short_name }}'; // required: replace example with your forum shortname

	 /* * * DON'T EDIT BELOW THIS LINE * * */
	 (function () {
        	var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>

			
